@import "tailwindcss";

@theme{
  --color-primary:#0275D8;
}

/* @keyframes slideDown {
  from {
    transform: translate(-50%, -2rem);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
} */
